{%  extends 'base.html' %}

{% block content %}

{% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                
            </div>
                
                {% endfor %}
            {% endif %}

<h1>Venue</h1>
<table class="table table-hover table-striped table-bordered">
    {% for venue in venues %}
        <tr>
       
            <td>

                <a href="{% url 'ShowVenueView' venue.id %}">  {{venue}}</a> 

            </td> 
            {% if user.is_authenticated %}
                <td align="right">
                    <a href="{% url 'UpdateVenueView' venue.id %} " class="btn btn-outline-secondary btn-sm">Update </a>
                    <a href="{% url 'delete-venue' venue.id %}"class="btn btn-outline-danger btn-sm">Delete </a>
                </td>
            {% endif %}
        </tr>  
            {% endfor %}
</table>

<br>
<!--
{{venues}}<br>
Has previous: {{venues.has_previous}}<br>
Has previous: {{venues.has_next}}<br>
current page: {{venues.number}}<br>
No of page: {{venues.paginator.num_pages}}
-->

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      
   
{% if venues.has_previous %}

<li class="page-item"><a href="?page=1" class="page-link">&laquo First</a></li>
<li class="page-item"><a href="?page={{venues.previous_page_number}}" class="page-link">previous</a></li>
{% endif %}
<!--<li class="page-item disabled" ><a class="page-link" href="#">Page {{ venues.number}} of {{ venues.paginator.num_pages}}</a></li>-->
 
{% for i in nums %}
<li class="page-item"><a href="?page={{forloop.counter}}" class="page-link">{{forloop.counter}}</a></li>
{% endfor %}

{% if venues.has_next %}
<li class="page-item"><a href="?page={{venues.next_page_number}}" class="page-link">next</a></li>
<li class="page-item"> <a href="?page={{venues.paginator.num_page}}" class="page-link">Last&raquo</a></li>
{% endif %}

</ul>
</nav>

{% endblock content %}

