{%  extends 'base.html' %}

{% block content %}




    
    
    <div class="card">
        <div class="card-header">
           <h1><strong>Venue</strong></h1> 
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ member}}</h5>
          <p class="card-text">

            <strong>First Name:</strong> {{ member.fname }}</br> 
            <strong>Middle Name:</strong> {{ member.mdname }}</br> 
            <strong>Last Name:</strong> {{ member.lname }}</br>
            <strong>Email:</strong> {{ member.email }}</br>
            <strong>Phone:</strong> {{  member.phone }}</br>
            <strong>Age:</strong> {{  member.age }}</br> 
            <strong>Address:</strong>{{  member.address }}</br> 

          </p>
          <br><br>
          {% if user.is_authenticated %}
     {% if user.is_superuser %}
        <div class="card-footer text-muted" >
            <div class="card-footer text-muted" >
                <a href="{% url 'Update-member' member.id %}" class="btn btn-sm btn-secondary ">Update member</a>
                <a href="{% url 'delete-member' member.id %}" class="btn btn-sm btn-danger">Delete member</a>
        </div>
      
      {% endif  %}
    {% endif  %}
        </div>
        <br><br>
      </div>
     
    
{% endblock content %}